# The URL of the backend API.
# In production/Docker, this is handled by the Nginx proxy, 
# so usually this can remain as is or be set to your public domain.
VITE_API_URL=http://localhost:3000/api
VITE_WS_HOST=localhost:3000
